 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Web Develop</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-nginx-original colored"></i>
      <i class="devicon-apache-line-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-npm-original-wordmark colored"></i>
      <i class="devicon-redux- colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-sass-original colored"></i>

      <!-- <p>Learned web develop by course: Multimedia Web Development(Grade A), Web Based Scripting,	Adv Web Pgm - JavaScrip/AJAX(Grade A+), Spec Topics in Web/Mob App Dev(Grade A+), 
        then developed serveral personal websites and one business website, joined a volunnteer group as full-stack developer</p> -->
    </div>
    <div class="tech">
      <h2>Other Skills</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <img src="https://img.icons8.com/color/75/000000/google-cloud-platform.png"/>

      <!-- <p>Learned Java and Android by course: Intro to Mobile Development(Grade A), UX Design in Mobile Apps(Grade A), Mobile App Development II(Grade A-), Data Structures & Algorithms(Grade A),	Spec Topics in Web/Mob App Dev(Grade A+)
      Learned Python by learning data analystic and testing web/mobile software functions
      Learned C# by course: Introduction to Programming(Grade A+), Client Server Systems(Grade A), Database I
      Learned C++ by course: Fundamentals of Computer Programming, Object-oriented Programming Design
      Learned C by course: Linux Operating System, Compiler Principles
      Learned Google Cloud Platform by course: Cloud Infrastructure</p> -->
    </div>
    <div class="tech">
      <h2>Database</h2>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <img src="https://img.icons8.com/color/75/000000/firebase.png"/>
      <img src="https://img.icons8.com/color/75/000000/microsoft-sql-server.png"/>

      <!-- <p>Learned mysql by course: Database System Priciple
      Learned sql-server by course: Database I
      Learned firebase and Mongodb by projects</p> -->
    </div>
</div>
