<div id="particles-js">
  <div class="header ">
      <h1>
        <span class="neon site-title">{{site.name}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href="mailto:li.marcus@hotmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/limarcus/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="mailto:wxzcon@gmail.com"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/LiMarcus"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="/portfolio/year-archive/" >Blog</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
