<div class="user-details">
  <h1 class="shinchou"> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/images/freestylecraft.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 class="land-effect "> Handicraft Course Platform </h3>
    <ul>
      <li>Utilized AWS Route 53, CloudFront, S3 as front-end development infrastructure, using EC2, load balancer and Nginx to distribute network traffic, increasing capacity and performance of backend.</li>
      <li>Supervising system infrastructure to optimize functionality & boost the efficiency of key performance indicators.</li>
      <li>Built multiple Rest APIs for authorization, email validation, PayPal, and MongoDB data retrieve</li>
      <li>Directing quality assurance initiatives & customer data protection processes by designing proper backend. </li>
    </ul>
    <p>
      <strong>Description:</strong> As the co-founder of 2 years old craft workshop, contribute to building a web platform which can integrate all kinds of craft courses from individuals and other workshops. <br/>
      <strong>Tech:</strong> AWS, HTML, CSS, JavaScript, React.js, Node.js, MongoDB, Nginx, Redux, PM2, Git
    </p>
    <a class=" btn btn-pink btn-bubbles" target="_blank" href="https://github.com/LiMarcus/myWeb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/images/Local4Fun.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 class="land-effect "> Local4Fun </h3>
    <ul>
      <li> Lead the development of Google Firebase as cloud platform for our android application, which improve efficiency of development 50% and save 100% backend server fee. </li>
      <li> Lead the development of customer message module that could allow hundreds of users chat privately without conflict.</li>
    </ul>
    <p> 
      <strong>Description:</strong> An android app to provide tour guide opportunity to local people and give exclusive tourist experiences<br/>
      <strong>Tech:</strong>  Android, Google Firebase, Facebook developer tools, Google Maps Platform                
    </p>
    <a class="btn btn-pink btn-bubbles" target="_blank" href="https://github.com/titango/Local4Fun">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/images/canada-weather.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 class="land-effect "> Canada Cities Weather Map </h3>
    <ul>
      <li>Using the City Code to fetch multiple cities from Environment Canada dynamically</li>
      <li>Using 'node-xml2js' to parse XML and filter out targets from hundreds of cities.</li>
    </ul>
    <p>
      <strong>Description:</strong>  make a "mushup" by using weather data available from Environment Canada and a mapping service such as Google Maps. <br/>
      <strong>Tech:</strong> React.js, Node.js, (Chrome extension: Moesif Orign & CORS Changer), PM2, Git
    </p>
    <!-- <a class="project-link" target="_blank" href="https://github.com/LiMarcus/mushup">Check it out</a> -->
    <a class="btn btn-pink btn-bubbles" target="_blank" href="https://github.com/LiMarcus/mushup">Check it out</a>
  </div>
</div>

<div class="user-details">
  <h1 class="shinchou"> Experiences </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/images/cs_teacher.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 class="land-effect "> Part-time CS Teacher  </h3>
    <ul>
      <li> Collaborated with other teachers to design course lectures and implement curriculum demonstration projects.</li>
      <li> Design tens of live lessons via Zoom Meetings.</li>
    </ul>
    <p> 
      <strong>Description:</strong> Empower students to engage with computer science for creativity, communication, problem-solving<br/>
      <strong>Tech:</strong>  Python, HTML, JavaScript, scratch, code Mao             
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/images/Maryland_volunteer.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 class="land-effect ">Volunnteer Full-stack developer</h3>
    <ul>
      <li>Design and optimize Google Firebase Real-time database data structures to increase retrieval speed.</li>
      <li>Implement backend APIs by Node.js and develop front-end by React.js.</li>
    </ul>
    <p>
      <strong>Description:</strong> The Maryland Premier League (MDPL) will play a vital role in the development of soccer in the DMV metropolitan area by providing an elite platform for over 700 players pursuing careers domestically and internationally. <br/>
      <strong>Tech:</strong> HTML, JavaScript, React.js, Node.js, Firebase, PM2, Git
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/images/coop.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 class="land-effect "> Software Developer co-op  </h3>
    <ul>
      <li> Implement the web and mobile front end of the real-time monitoring system by .NET and Android.</li>
      <li> Won the commendation award by the passion for working.</li>
    </ul>
    <p> 
      <strong>Description:</strong> Taking the training courses and participating in the development of a real-time monitoring system<br/>
      <strong>Tech:</strong> C#, SQL Server, Android,            
    </p>
  </div>
</div>

