<div class="user-details">
  <h1 class="shinchou"> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/images/freestylecraft.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 class="land-effect "> Handicraft Course Platform </h3>
    <ul>
      <li>Utilized AWS Route 53, CloudFront, S3 as front-end development infrastructure, using EC2, load balancer and Nginx to distribute network traffic, increasing capacity and performance of backend.</li>
      <li>Supervising system infrastructure to optimize functionality & boost the efficiency of key performance indicators.</li>
      <li>Built multiple Rest APIs for authorization, email validation, PayPal, and MongoDB data retrieve</li>
      <li>Directing quality assurance initiatives & customer data protection processes by designing proper backend. </li>
    </ul>
    <p>
      <strong>Description:</strong> As the co-founder of 2 years old craft workshop, contribute to building a web platform which can integrate all kinds of craft courses from individuals and other workshops. <br/>
      <strong>Tech:</strong> AWS, HTML, CSS, JavaScript, React.js, Node.js, MongoDB, Nginx, Redux, PM2, Git
    </p>
    <a class=" btn btn-pink btn-bubbles" target="_blank" href="https://github.com/LiMarcus/myWeb">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/images/Local4Fun.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3 class="land-effect "> Local4Fun </h3>
    <ul>
      <li> Lead the development of Google Firebase as cloud platform for our android application, which improve efficiency of development 50% and save 100% backend server fee. </li>
      <li> Lead the development of customer message module that could allow hundreds of users chat privately without conflict.</li>
    </ul>
    <p> 
      <strong>Description:</strong> An android app to provide tour guide opportunity to local people and give exclusive tourist experiences<br/>
      <strong>Tech:</strong>  Android, Google Firebase, Facebook developer tools, Google Maps Platform                
    </p>
    <a class="btn btn-pink btn-bubbles" target="_blank" href="https://github.com/titango/Local4Fun">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/images/canada-weather.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3 class="land-effect "> Canada Cities Weather Map </h3>
    <ul>
      <li>Using the City Code to fetch multiple cities from Environment Canada dynamically</li>
      <li>Using 'node-xml2js' to parse XML and filter out targets from hundreds of cities.</li>
    </ul>
    <p>
      <strong>Description:</strong>  make a "mushup" by using weather data available from Environment Canada and a mapping service such as Google Maps. <br/>
      <strong>Tech:</strong> React.js, Node.js, (Chrome extension: Moesif Orign & CORS Changer), PM2, Git
    </p>
    <!-- <a class="project-link" target="_blank" href="https://github.com/LiMarcus/mushup">Check it out</a> -->
    <a class="btn btn-pink btn-bubbles" target="_blank" href="https://github.com/LiMarcus/mushup">Check it out</a>
  </div>
</div>




