<div class="timeline-body">
    <h1 class="timeline-header">Graduation Timeline</h1>
    <ul class="timeline-events">
        <li class="dot1">
            <h2>2011-2015</h2>
            <h3>Civil Aviation University of China, CN</h3>
            <h4>Bacherlor of CSIS</h4>
        </li>
        <li class="dot2">

        </li>
        <li class="dot3">
            <h2>2016-2020</h2>
            <h3>Douglas College, CA</h3>
            <h4>Cmpt&InfoSys-Emer Tech PB Dipl</h4>
        </li>
    </ul>
    <ul class="timelines-years">
        <li>2012</li>
        <li>2013</li>
        <li>2014</li>
        <li>2015</li>
        <li>2016</li>
        <li>2017</li>
        <li>2018</li>
        <li>2019</li>
        <li>2020</li>
    </ul>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


</div>