.landIn {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.8;
  color: black;
  white-space: pre;


}
.landIn span {
    animation: landIn 0.8s ease-out both;
  }
@keyframes landIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}